<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Quotes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div id="wrapper1">
        <div id="header">
            <h4 class="purple">Welcome, {{user.first_name}}!</h4>
            <span>
                <a id="edit_my_account"href="/edit_user_information">Edit My Account</a>
                <a id="logout"href="/logout">log out</a>
            </span>
        </div>
        <div id="errors_div">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ messages.tags }}" {% endif %}> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="column2">
            <h3 class="purple quotes">Quotes</h3>
            {% for quote in quotes %}
                <div class="shift_right">
                    <p>{{quote.author}}: "{{quote.quote}}"<p>
                    <p>Posted by <a href="/all_quotes_by_user/{{quote.added_by.id}}">{{quote.added_by.first_name}} {{quote.added_by.last_name}}</a></p>
                    <div class="likes_div">
                        {% if quote.liked_by.count == 1 %}
                            <span>{{quote.liked_by.count}} Person likes this</span>
                        {% else %}
                            <span>{{quote.liked_by.count}} People like this</span>
                        {% endif %}
                        {% if user in quote.liked_by.all %}
                            <a href="/like_quote/{{quote.id}}/2">unlike</a>
                        {% else %}
                            <a href="/like_quote/{{quote.id}}/2">like</a>
                        {% endif %}
                    </div>
                    {% if quote.added_by == user %}
                    <a href="/delete_quote/{{quote.id}}/2">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="spacer-div2"></div>
        <div class="column2">
            <form action="/add_favorite_quote" method="post">
            {% csrf_token %}
            <h3 class="purple add_quotes">Add a Quote</h3>
            <label for="quote">Quote</label>
            <textarea name="quote" placeholder="Write quote here" rows="8"></textarea>
            <div class="spacer-div"></div>
            <label for="author" >Author</label>
            <input type="text" name="author">
            <div class="spacer-div"></div>
            <div class="submit_div1">
                <input type="submit" value="Add">
            </div>
        </form>
        <div class="spacer-div"></div>
        <div class="spacer-div"></div>
        </div>
    </div>
</body>
</html>